h1{
  text-align: center;
}

h2.About{
  border-bottom: 1px solid red;
  margin-bottom: 0.7em;
}

h2.Profile{
  border-bottom: 1px solid blue;
  margin-bottom: 0.7em;
}

h2.Skills{
  border-bottom: 1px solid green;
  margin-bottom: 0.7em;
}

h2.Works{
  border-bottom: 1px solid purple;
  margin-bottom: 0.7em;
}

h2.Contact{
  text-decoration: none;
  border-bottom: 1px solid lightblue;
  margin-bottom: 0.7em;
}

h2.History{
  border-bottom: 1px solid greenyellow;
  margin-bottom: 0.7em;
}
