header{
  height: 250px;
  background: linear-gradient(45deg,rgb(0, 128, 255),rgb(0, 255, 128));
  text-align: center;
}

.divheader{
  display: inline-block;
  height: 80px;
}


.headerletter{
  color: white;
}

div.Toplink{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
a.Toplink{
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: all 0.3s ease 0s;
}
a.Toplink:hover{
  background-color: white;
  color: black;
}


h2.About{
  border-bottom: 2px solid red;
  margin-bottom: 0.7em;
}

h2.Profile{
  border-bottom: 2px solid blue;
  margin-bottom: 0.7em;
}

h2.Skills{
  border-bottom: 2px solid green;
  margin-bottom: 0.7em;
}

h2.Works{
  border-bottom: 2px solid purple;
  margin-bottom: 0.7em;
}

h3.Works{
  color: rgb(0, 112, 112);
}

img{
  width: 50%;
  max-width: 50%;
  height: auto;
}

p.Environment{
  margin-top: 0px;
  font-size: 15px;
}

h2.Contact{
  text-decoration: none;
  border-bottom: 2px solid lightblue;
  margin-bottom: 0.7em;
}

h2.History{
  border-bottom: 2px solid greenyellow;
  margin-bottom: 0.7em;
}
