header{
  height: 250px;
  background: linear-gradient(45deg,rgb(0, 128, 255),rgb(0, 255, 128));
  text-align: center;
}

.divheader{
  display: inline-block;
  height: 80px;
}


.headerletter{
  color: white;
}

div.Toplink{
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
}
p.Toplink{
  font-size: 40px;
  text-align: center;
}
a.Toplink{
  text-decoration: none;
  color: white;
}

h2.About{
  border-bottom: 2px solid red;
  margin-bottom: 0.7em;
}

h2.Profile{
  border-bottom: 2px solid blue;
  margin-bottom: 0.7em;
}

h2.Skills{
  border-bottom: 2px solid green;
  margin-bottom: 0.7em;
}

h2.Works{
  border-bottom: 2px solid purple;
  margin-bottom: 0.7em;
}

h2.Contact{
  text-decoration: none;
  border-bottom: 2px solid lightblue;
  margin-bottom: 0.7em;
}

h2.History{
  border-bottom: 2px solid greenyellow;
  margin-bottom: 0.7em;
}
